*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #40D1D8 ;
}


/* Header */
.header, .main-menu  {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header {
  height: 80px;
  background: var(--primary-color);
  color: #fff;
  padding: 0 30px;
}


/* Footer */
.footer {
  background: var(--primary-color);
  color: #fff;
  padding: 10px;
  text-align: center;
}
